ui = true
api_addr = "https://{{ ansible_fqdn }}:8200"
cluster_addr = "https://{{ ansible_fqdn }}:8201"
disable_mlock = true

storage "gcs" {
  bucket = "{{ vault_backend_bucket }}"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_cert_file = "/opt/vault/tls/tls.crt"
  tls_key_file  = "/opt/vault/tls/tls.key"
}
