ui = true
api_addr = "https://{{ ansible_fqdn }}:8200"
cluster_addr = "https://{{ ansible_fqdn }}:8201"

storage "gcs" {
  bucket = "{{ vault_backend_bucket }}"
}

listener "tcp" {
  address     = "0.0.0.0:8200"
  tls_disable = 1
}
