- name: Deploy certificate to nginx servers
  hosts: proxy
  gather_facts: yes
  become: yes
  vars:
    letsencrypt_dir: /etc/letsencrypt/live
    ansible_ssh_timeout: 30
    ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o ConnectTimeout=30'
  
  tasks:
    - name: Display received nginx certificates data
      debug:
        var: nginx_certificates
