- name: Install required packages
  apt:
    name:
      - sudo
      - unattended-upgrades
      - apt-listchanges
      - docker.io
      - docker-compose
      - python3-docker
    state: present
    update_cache: yes

- name: Set server timezone
  timezone:
    name: Europe/Warsaw

- name: Copy 50unattended-upgrades file
  template:
    src: ../../templates/50unattended-upgrades.j2
    dest: /etc/apt/apt.conf.d/50unattended-upgrades
    owner: root
    group: root
    mode: '0644'
  notify: Restart unattended-upgrades

- name: Deploy website container
  community.docker.docker_container:
    name: batko-me-web
    image: ghcr.io/michalbatko/batko-me-web:0.1.0
    state: started
    recreate: yes
    restart_policy: always
    ports:
      - "80:3000"
    pull: yes
