name: Build

on:
  push:
    branches-ignore:
      - main

permissions:
  contents: read
  id-token: write

jobs:
  check-formatting:
    name: Check Code Formatting
    runs-on: self-hosted
    environment: homelab
    timeout-minutes: 5

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ vars.TERRAFORM_VERSION }}

    - name: Check Terraform Formatting
      id: fmt_check
      run: terraform fmt -check -diff -recursive .
      working-directory: ./terraform

  verify-terraform:
    name: Verify Terraform Changes
    runs-on: self-hosted
    environment: homelab
    timeout-minutes: 5
    env:
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
      PROXMOX_VE_API_TOKEN: ${{ secrets.PROXMOX_VE_API_TOKEN }}

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v3 
      with:
        workload_identity_provider: ${{ vars.GOOGLE_WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ vars.GOOGLE_SERVICE_ACCOUNT }}

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ vars.TERRAFORM_VERSION }}

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./terraform

    - name: Validate Terraform Configuration
      run: terraform validate
      working-directory: ./terraform

    - name: Generate Terraform Plan
      id: plan_output
      run: terraform plan
      working-directory: ./terraform

  verify-ansible:
    name: Verify Ansible Changes
    runs-on: self-hosted
    environment: homelab
    timeout-minutes: 5

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v6

    - name: Run Ansible Playbooks in Check Mode
      run: |
        eval "$(ssh-agent -s)"
        echo "${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}" | ssh-add -
        ansible-playbook site.yml --check --diff \
          -e actions_access_token="${{ secrets.ACTIONS_ACCESS_TOKEN }}" \
          -e ansible_ssh_private_key="$(echo '${{ secrets.ANSIBLE_SSH_PRIVATE_KEY }}' | base64 -w 0)" \
          -e cloudflare_api_token="${{ secrets.CLOUDFLARE_API_TOKEN }}" \
          -e proxmox_api_token="${{ secrets.PROXMOX_VE_API_TOKEN }}" \
          -e vault_service_account_key="$(echo '${{ secrets.VAULT_SERVICE_ACCOUNT_KEY }}' | base64 -w 0)"
      env:
        ANSIBLE_HOST_KEY_CHECKING: 'False'
      working-directory: ./ansible
